In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# Job Title

In [4]:
def titlesimplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'analyst' in title.lower():
        return 'Analyst'
    elif 'engineer' in title.lower():
        return 'Data Engineer'
    elif 'machine learning' in title.lower():
        return 'MLE'
    elif 'manager' in title.lower():
        return 'Manager'
    else:
        return 'NA'

In [5]:
df['Designation']=df['Job Title'].apply(titlesimplifier)

In [7]:
df['Designation'].value_counts()

Data Scientist    358
NA                228
Data Engineer     197
Analyst           125
Manager            35
MLE                13
Name: Designation, dtype: int64

In [10]:
def seniority(title):
    if 'jr' in title.lower() or 'junior' in title.lower():
        return 'Junior'
    elif 'sr' in title.lower() or 'senior' in title.lower():
        return 'Senior'
    else:
        return 'NA'

In [11]:
df['Seniority']=df['Job Title'].apply(seniority)

In [12]:
df['Seniority'].value_counts()

NA        744
Senior    209
Junior      3
Name: Seniority, dtype: int64

# Drop Columns

In [18]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Designation', 'Seniority'],
      dtype='object')

In [19]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [22]:
df.head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Designation,Seniority
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,NA
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,NA
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,NA
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",Data Scientist,NA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist,NA
5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",Data Scientist,NA
6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,Data Scientist,NA
7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,Data Scientist,NA
8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,NA,NA
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",Data Scientist,NA

# Salary Estimate

In [25]:
df=df[df['Salary Estimate']!='-1']

In [28]:
df[df['Salary Estimate']=='-1']['Job Title']

Series([], Name: Job Title, dtype: object)

In [32]:
salary=df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [33]:
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [37]:
remove_kd=salary.apply(lambda x:x.replace('K','').replace('$',''))

In [38]:
remove_kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [46]:
df['Employer Provided']=df['Salary Estimate'].apply(lambda x :1 if 'employer provided' in x.lower() else 0)

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/4213837885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Employer Provided']=df['Salary Estimate'].apply(lambda x :1 if 'employer provided' in x.lower() else 0)

In [47]:
df['Per Hour']=df['Salary Estimate'].apply(lambda x :1 if 'per hour' in x.lower() else 0)

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/998377314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Per Hour']=df['Salary Estimate'].apply(lambda x :1 if 'per hour' in x.lower() else 0)

In [51]:
remove_kd=remove_kd.apply(lambda x : x.replace('Employer Provided Salary:','').replace('Per Hour',''))

In [56]:
df['min_salary']=remove_kd.apply(lambda x:int(x.split('-')[0]))

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/1172496089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary']=remove_kd.apply(lambda x:int(x.split('-')[0]))

In [57]:
df['max_salary']=remove_kd.apply(lambda x:int(x.split('-')[1]))

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/4191807123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary']=remove_kd.apply(lambda x:int(x.split('-')[1]))

In [52]:
remove_kd.to_csv('check.csv',index=None)

In [58]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/1828483574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_salary']=(df.min_salary+df.max_salary)/2

# Job Description

In [60]:
df['python_required']=df['Job Description'].apply(lambda x :1 if 'python' in x.lower() else 0)

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/2313058593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['python_required']=df['Job Description'].apply(lambda x :1 if 'python' in x.lower() else 0)

In [61]:
df['aws_required']=df['Job Description'].apply(lambda x :1 if 'aws' in x.lower() else 0)
df['sql_required']=df['Job Description'].apply(lambda x :1 if 'sql' in x.lower() else 0)
df['statistics_required']=df['Job Description'].apply(lambda x :1 if 'statistics' in x.lower() else 0)

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/2678899623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aws_required']=df['Job Description'].apply(lambda x :1 if 'aws' in x.lower() else 0)
C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/2678899623.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sql_required']=df['Job Description'].apply(lambda x :1 if 'sql' in x.lower() else 0)
C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/2678899623.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['statistics_required']=df['Job Description'].apply(lambda x :1 if 'statistics' in x.lower() else 0)

# Company name

In [66]:
df['Company Name']=df.apply(lambda x:x['Company Name'] if x['Rating']=='-1' else x['Company Name'][:-3],axis=1 )

C:\Users\kcjc608\AppData\Local\Temp/ipykernel_24292/4122218485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name']=df.apply(lambda x:x['Company Name'] if x['Rating']=='-1' else x['Company Name'][:-3],axis=1 )

In [67]:
df['Company Name'].to_csv('company.csv',index=None)

In [126]:
df['Company Name']

0                          Tecolote Research\n
1      University of Maryland Medical System\n
2                                    KnowBe4\n
3                                       PNNL\n
4                         Affinity Solutions\n
                        ...
950                                      GSK\n
951                               Eventbrite\n
952           Software Engineering Institute\n
953                             Numeric, LLC\n
955             Riverside Research Institute\n
Name: Company Name, Length: 742, dtype: object

In [127]:
df['Company Name']=df['Company Name'].apply(lambda x:x.replace('\n',''))

In [128]:
df['Company Name']

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
950                                      GSK
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
955             Riverside Research Institute
Name: Company Name, Length: 742, dtype: object

# State

In [70]:
df['state']=df['Location'].apply(lambda x:x.split(',')[1])

In [80]:
df['state'].to_csv('state.csv',index=None)

In [78]:
df['state']

0       NM
1       MD
2       FL
3       WA
4       NY
      ...
950     MA
951     TN
952     PA
953     PA
955     OH
Name: state, Length: 742, dtype: object

In [85]:
df['state']=df['state'].apply(lambda x:x.strip() if x.strip().lower()!='los angeles' else 'CA')

In [86]:
df['state'].value_counts()

CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
NC     21
WA     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
WI     10
UT     10
IN     10
AZ      9
MO      9
AL      8
GA      6
DE      6
KY      6
MI      6
CT      5
IA      5
LA      4
OR      4
NE      4
NM      3
KS      3
ID      2
MN      2
RI      1
SC      1
Name: state, dtype: int64

# Company location and headquarters are in same place ???

In [87]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Designation', 'Seniority', 'max_salary', 'Employer Provided',
       'Per Hour', 'min_salary', 'avg_salary', 'python_required',
       'aws_required', 'sql_required', 'statistics_required', 'state'],
      dtype='object')

In [89]:
df['same location']=df.apply(lambda x : 1 if x['Location']==x['Headquarters'] else 0,axis=1)

# Age of company

In [118]:
df['age']=df['Founded'].apply(lambda x : 0 if x==-1 else 2022-x)

In [119]:
df['age'].to_csv('age.csv',index=None)

In [120]:
df[df['age']==0]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,min_salary,avg_salary,python_required,aws_required,sql_required,statistics_required,state,same location,age,comp count
43,Data Engineer,$68K-$129K (Glassdoor est.),Position Title: Data Engineer\n\nPersivia is s...,3.6,Persivia\n,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,Company - Private,...,68,98.5,0,0,1,0,MA,0,0,0
48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,...,150,155.0,0,1,0,0,DC,0,0,0
76,Data Scientist,$96K-$161K (Glassdoor est.),SummaryProvide data management and statistical...,3.2,"Numeric, LLC\n","Philadelphia, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,96,128.5,1,1,1,0,PA,0,0,0
166,Data Engineer 4 - Contract,$59K-$115K (Glassdoor est.),Purposes\n\nAs a member of the Business Intell...,4.2,The Church of Jesus Christ of Latter-day Saints\n,"Riverton, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,59,87.0,0,1,0,0,UT,0,0,0
192,Data Engineer 5 - Contract (Remote),$74K-$140K (Glassdoor est.),Purposes\n\nThis is a remote contract position...,4.2,The Church of Jesus Christ of Latter-day Saints\n,"Riverton, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,74,107.0,0,0,0,0,UT,0,0,0
223,PV Scientist,$60K-$123K (Glassdoor est.),SUMMARY:\nThe Pharmacovigilance Scientist supp...,2.9,Karyopharm Therapeutics Inc.\n,"Newton, MA","Newton, MA",201 to 500 employees,-1,Company - Public,...,60,91.5,0,0,0,1,MA,1,0,0
226,Data Engineer,$48K-$93K (Glassdoor est.),Are you interested in a career opportunity wit...,3.7,P2 Energy Solutions\n,"Lafayette, LA","Denver, CO",501 to 1000 employees,-1,Company - Private,...,48,70.5,0,0,1,0,LA,0,0,0
242,R&D Specialist/ Food Scientist,$39K-$66K (Glassdoor est.),Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods\n,"Hoopeston, IL","Flower Mound, TX",501 to 1000 employees,-1,Company - Private,...,39,52.5,0,0,0,0,IL,0,0,0
270,Data Analyst,$33K-$62K (Glassdoor est.),"Wednesday, March 11, 2020\n\n\nCommunity Actio...",2.8,Community Action Partnership of San Luis Obispo\n,"Parlier, CA","San Luis Obispo, CA",501 to 1000 employees,-1,Nonprofit Organization,...,33,47.5,0,0,0,1,CA,0,0,0
282,Data Engineer 5 - Contract (Remote),$74K-$140K (Glassdoor est.),Purposes\n\nThis is a remote contract position...,4.2,The Church of Jesus Christ of Latter-day Saints\n,"Riverton, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,74,107.0,0,0,0,0,UT,0,0,0
318,"Sr. Data Scientist, Cyber-Security LT Contract",$116K-$194K (Glassdoor est.),SUMMARYSenior Data Scientist will assist the c...,3.2,"Numeric, LLC\n","Phila, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,116,155.0,1,1,0,1,PA,0,0,0
328,Data Scientist,$83K-$135K (Glassdoor est.),ONLY GCCITIZEN OPTEAD (more than 1-year validi...,4.0,"Tekvalley, Corp.\n","San Francisco, CA","Pleasanton, CA",1 to 50 employees,-1,Company - Private,...,83,109.0,1,0,1,0,CA,0,0,0
377,Data Operations Lead,Employer Provided Salary:$85K-$90K,Data Operations Lead\nLocation: Flexible thoug...,-1.0,M,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,...,85,87.5,1,0,1,0,CA,1,0,0
383,PV Scientist,$60K-$123K (Glassdoor est.),SUMMARY:\nThe Pharmacovigilance Scientist supp...,2.9,Karyopharm Therapeutics Inc.\n,"Newton, MA","Newton, MA",201 to 500 employees,-1,Company - Public,...,60,91.5,0,0,0,1,MA,1,0,0
386,Data Engineer,$48K-$93K (Glassdoor est.),Are you interested in a career opportunity wit...,3.7,P2 Energy Solutions\n,"Lafayette, LA","Denver, CO",501 to 1000 employees,-1,Company - Private,...,48,70.5,0,0,1,0,LA,0,0,0
429,R&D Specialist/ Food Scientist,$39K-$66K (Glassdoor est.),Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods\n,"Hoopeston, IL","Flower Mound, TX",501 to 1000 employees,-1,Company - Private,...,39,52.5,0,0,0,0,IL,0,0,0
431,"Scientist, Bacteriology",$74K-$149K (Glassdoor est.),"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation\n,"Concord, CA","Concord, CA",201 to 500 employees,-1,Company - Public,...,74,111.5,0,0,0,0,CA,1,0,0
472,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,100,120.0,0,0,0,0,MA,0,0,0
477,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,...,150,155.0,0,1,0,0,DC,0,0,0
510,Sr. Data Engineer (ETL Developer),$83K-$148K (Glassdoor est.),Summary\n\nFGL Holdings—the F&G family of insu...,3.7,F&G\n,"Des Moines, IA","Des Moines, IA",201 to 500 employees,-1,Subsidiary or Business Segment,...,83,115.5,1,0,1,0,IA,1,0,0
518,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,110,120.0,0,0,0,0,MA,0,0,0
526,Geospatial Software Developer and Data Scientist,$82K-$129K(Employer est.),Job Posting Title:\n\nGeospatial Software Deve...,3.7,Applied Research Laboratories\n,"Austin, TX","Austin, TX",501 to 1000 employees,-1,College / University,...,82,105.5,1,1,0,1,TX,1,0,0
560,Data Engineer,$63K-$120K (Glassdoor est.),SUMMARYData Analytics team is looking for a sm...,3.2,"Numeric, LLC\n","King of Prussia, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,63,91.5,1,1,1,0,PA,0,0,0
575,Data Scientist,$85K-$142K (Glassdoor est.),You must have experience in build and evaluate...,4.0,Lorven Technologies Inc\n,"Santa Clara, CA","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,...,85,113.5,1,0,1,0,CA,0,0,0
577,Data Scientist,$111K-$176K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,...,111,143.5,1,0,1,0,CA,1,0,1
578,Data Scientist,$87K-$140K (Glassdoor est.),PDI provides services across all verticals and...,3.9,Serigor Inc.\n,"San Francisco, CA","Baltimore, MD",1 to 50 employees,-1,Company - Private,...,87,113.5,1,0,1,1,CA,0,0,0
583,Data Scientist,$81K-$140K (Glassdoor est.),"As a Data Scientist, you will play a critical ...",-1.0,A,"New York, NY","Noida, India",Unknown,-1,Company - Private,...,81,110.5,1,0,1,0,NY,0,0,0
586,Data Scientist,$108K-$171K (Glassdoor est.),Advanced degree in Data Science Statistics Com...,3.5,e-IT Professionals Corp.\n,"Foster City, CA","Canton, MI",51 to 200 employees,-1,Company - Private,...,108,139.5,1,0,1,1,CA,0,0,0
595,Data Scientist,$70K-$118K (Glassdoor est.),"Hello Associates,\n\n*****Greetings from Conch...",4.6,"Conch Technologies, Inc\n","Waltham, MA","Memphis, TN",51 to 200 employees,-1,Company - Private,...,70,94.0,1,1,1,1,MA,0,0,0
633,R&D Specialist/ Food Scientist,$39K-$66K (Glassdoor est.),Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods\n,"Hoopeston, IL","Flower Mound, TX",501 to 1000 employees,-1,Company - Private,...,39,52.5,0,0,0,0,IL,0,0,0
642,"Scientist, Bacteriology",$74K-$149K (Glassdoor est.),"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation\n,"Concord, CA","Concord, CA",201 to 500 employees,-1,Company - Public,...,74,111.5,0,0,0,0,CA,1,0,0
654,"Data Analyst 1, full-time contract worker for ...",$35K-$65K (Glassdoor est.),"Purposes\n\nIn addition to your application, p...",4.2,The Church of Jesus Christ of Latter-day Saints\n,"Salt Lake City, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,35,50.0,0,1,1,1,UT,1,0,0
703,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,100,120.0,0,0,0,0,MA,0,0,0
712,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,95,127.5,0,0,0,0,PA,0,0,0
714,Data Analyst 2 (Missionary Department),$53K-$91K (Glassdoor est.),Purposes\n\nProvide department leadership with...,4.2,The Church of Jesus Christ of Latter-day Saints\n,"Salt Lake City, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,53,72.0,0,0,1,1,UT,1,0,0
734,Product Manager/Data Evangelist,$50K-$98K (Glassdoor est.),Product Manager/Data EvangelistSUMMARY\n\nMana...,3.2,"Numeric, LLC\n","Phila, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,50,74.0,1,1,1,0,PA,0,0,0
741,"Scientist – Cancer Discovery, Molecular Assay",Employer Provided Salary:$100K-$135K,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeut,"Cambridge, MA",-1,-1,-1,-1,...,100,117.5,0,0,0,0,MA,0,0,0
758,Data Engineer,$74K-$137K (Glassdoor est.),"Maxar is seeking an independent, creative and ...",3.7,Maxar Technologies\n,"Springfield, VA","Westminster, CO",5001 to 10000 employees,-1,Company - Public,...,74,105.5,1,0,1,0,VA,0,0,0
767,Sr. Data Engineer (ETL Developer),$83K-$148K (Glassdoor est.),Summary\n\nFGL Holdings—the F&G family of insu...,3.7,F&G\n,"Des Moines, IA","Des Moines, IA",201 to 500 employees,-1,Subsidiary or Business Segment,...,83,115.5,1,0,1,0,IA,1,0,0
778,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,110,120.0,0,0,0,0,MA,0,0,0
789,Geospatial Software Developer and Data Scientist,$82K-$129K(Employer est.),Job Posting Title:\n\nGeospatial Software Deve...,3.7,Applied Research Laboratories\n,"Austin, TX","Austin, TX",501 to 1000 employees,-1,College / University,...,82,105.5,1,1,0,1,TX,1,0,0
819,"Principal Research Scientist/Team Lead, Medici...",Employer Provided Salary:$120K-$145K,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,120,132.5,0,0,0,0,MA,0,0,0
839,Data Scientist,$71K-$121K (Glassdoor est.),"JOB SUMMARY\n\nResponsible for scoping, develo...",3.5,Charter Spectrum\n,"Maryland Heights, MO","North Salt Lake, UT",1 to 50 employees,-1,School / School District,...,71,96.0,0,0,1,1,MO,0,0,0
856,R&D Specialist/ Food Scientist,$39K-$66K (Glassdoor est.),Responsibilities Include but may not be limite...,2.4,Teasdale Latin Foods\n,"Hoopeston, IL","Flower Mound, TX",501 to 1000 employees,-1,Company - Private,...,39,52.5,0,0,0,0,IL,0,0,0
864,"Scientist, Bacteriology",$74K-$149K (Glassdoor est.),"Scientist, Bacteriology\nLocation\n\n\nCerus U...",2.1,Cerus Corporation\n,"Concord, CA","Concord, CA",201 to 500 employees,-1,Company - Public,...,74,111.5,0,0,0,0,CA,1,0,0
877,"Data Analyst 1, full-time contract worker for ...",$35K-$65K (Glassdoor est.),"Purposes\n\nIn addition to your application, p...",4.2,The Church of Jesus Christ of Latter-day Saints\n,"Salt Lake City, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,...,35,50.0,0,1,1,1,UT,1,0,0
901,Data Scientist,$65K-$113K (Glassdoor est.),DatamanUSA has an exciting opportunity for a D...,3.4,"DatamanUSA, LLC\n","Olympia, WA","Centennial, CO",51 to 200 employees,-1,Company - Private,...,65,89.0,0,0,0,0,WA,0,0,0
924,Data Scientist,$96K-$161K (Glassdoor est.),SummaryProvide data management and statistical...,3.2,"Numeric, LLC\n","Philadelphia, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,96,128.5,1,1,1,0,PA,0,0,0
943,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,...,100,120.0,0,0,0,0,MA,0,0,0
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,95,127.5,0,0,0,0,PA,0,0,0

# Competitors count

In [113]:
df['comp count']=df['Competitors'].apply(lambda x : len(x.split(',')) if x!='-1' else 0)

In [98]:
df['Competitors']

0                                                     -1
1                                                     -1
2                                                     -1
3      Oak Ridge National Laboratory, National Renewa...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
950                           Pfizer, AstraZeneca, Merck
951                      See Tickets, TicketWeb, Vendini
952                                                   -1
953                                                   -1
955                                                   -1
Name: Competitors, Length: 742, dtype: object

In [114]:
df[['Competitors','comp count']]

                                           Competitors  comp count
0                                                   -1           0
1                                                   -1           0
2                                                   -1           0
3    Oak Ridge National Laboratory, National Renewa...           3
4                 Commerce Signals, Cardlytics, Yodlee           3
..                                                 ...         ...
950                         Pfizer, AstraZeneca, Merck           3
951                    See Tickets, TicketWeb, Vendini           3
952                                                 -1           0
953                                                 -1           0
955                                                 -1           0

[742 rows x 2 columns]

In [122]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Designation', 'Seniority', 'max_salary', 'Employer Provided',
       'Per Hour', 'min_salary', 'avg_salary', 'python_required',
       'aws_required', 'sql_required', 'statistics_required', 'state',
       'same location', 'age', 'comp count'],
      dtype='object')

# Hourly wage

In [123]:
df['min_salary']=df.apply(lambda x : x['min_salary']*2 if x['Per Hour']==1 else x['min_salary'],axis=1)

In [124]:
df['max_salary']=df.apply(lambda x : x['max_salary']*2 if x['Per Hour']==1 else x['max_salary'],axis=1)

In [125]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Designation', 'Seniority', 'max_salary', 'Employer Provided',
       'Per Hour', 'min_salary', 'avg_salary', 'python_required',
       'aws_required', 'sql_required', 'statistics_required', 'state',
       'same location', 'age', 'comp count'],
      dtype='object')

# Step 2 -Exploratory Data Analysis